.itens-li{
    display: flex;
    list-style-type: none;
    width: 100%;
    gap: 1vw;
}
.nao-preencher, .preencher input[type="text"]{
    display: flex;
    justify-content: center;
    width: 15vw;
    padding: 0;
    height: 4vh;
    border: 1px solid black;
}